<div class="container">
	<div class="row align-items-center section nopadding">
		<div class="col-sm-2">
			Icon
		</div>
		<div class="col-sm-8">
			<h1>Bouncing Ball</h1>
			<h5>Coding Test Application</h5>
		</div>
		<div class="col-sm-2 align-self-end">
			<button type="button" class="btn">Exit</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2 section">
			This will be empty
		</div>
		<div class="col-sm-10 section">
			<div class="row">
				<div class="col-sm-4 section inner noborder">
					<div class="section dark">
						<app-start></app-start>
					</div>
				</div>
				<div class="col-sm-8 section inner noborder">
					<div class="section dark">
						<app-settings></app-settings>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 section inner noborder nopaddingtop">
					<div class="section nopadding">
						<app-bouncing-ball-panel></app-bouncing-ball-panel>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>