<div class="row">
	<div class="col">
		<h3>{{title}}</h3>
	</div>
	<div class="col">
		<div class="row">
			<div class="col">
				Speed
			</div>
			<div class="col">
				<input class="form-control" type="number" [(ngModel)]="ball.speed" placeholder="1" />
			</div>
		</div>
		<div class="row">
			<div class="col">
				Angle
			</div>
			<div class="col">
				<input class="form-control" type="number" [(ngModel)]="ball.angle" placeholder="45" />
			</div>
		</div>
		<div class="row">
			<div class="col">
				Color
			</div>
			<div class="col">
				<select class="form-control" [(ngModel)]="ball.color">
					<option value="blue">
						Blue
					</option>
					<option value="green">
						Green
					</option>
					<option value="magenta">
						Magenta
					</option>
				</select>
			</div>
		</div>
	</div>
</div>